/* Luigi animation */
#luigi {
  position: absolute;
  top: 45px;
  right: -50px; /* Starting position outside the screen */
  animation: moveLuigi 6s linear infinite;
}

@keyframes moveLuigi {
  0% {
    transform: scaleX(-1); /* Face Luigi to the right */
    right: -50px; /* Starting position */
  }
  10% {
    transform: scaleX(1);
    right: calc(100px);
  }
  30% {
    transform: scaleX(-1);
    right: calc(30% + 30px);
  }
  50% {
    transform: scaleX(1);
    right: calc(50% + 50px);
  }
  100% {
    transform: scaleX(-1); /* Flip Luigi to face left */
    right: calc(100% + 50px); /* Move Luigi outside the screen from the right */
  }
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,300px,1fr);
  text-align:center;
  border-style: ridge;
  border-color: rgb(233, 66, 211);
  }
.featured-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
 
.article-cards {
  background-color: rgb(31, 241, 213);
  min-height: calc(100vh - 300px);
  justify-content: space-around;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); 
  align-items: center;
}
.card {
  min-height: 35rem;
  max-width: 23rem;
}
 
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: black;
}
 
#img1, #img2, #img3, #img4 {
  height: 228.42px;
}
h1 {text-align:center;}
.Place{
border-style:solid;
background-color: rgb(31, 241, 213);
text-align:center;
  }

.Place2{
  text-align:center;
  border-style: solid;
  color: rgb(248, 24, 211);
}repeat(auto-fit, minmax(300px, 1fr)

.Places{
border-style:solid;
background-color: rgb(248, 24, 211);
text-align:center;

}


